.form--container {
    display: flex;
    flex-direction: column;
    width: 50em;
}

textarea {
    height: 30em;
}

.form--button {
    width: 10em;
    margin-bottom: 2em;
}

.counter {
    color: white;
    background-color: rgb(107, 216, 23);
    padding: 1em;
    margin-right: 1em;
    border-radius: 2em;
}

form p {
    margin-bottom: 2em;
}